<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421929970358-3ig52202pj2hlkp1fp17e15r9jct5jsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421929970358-3ig52202pj2hlkp1fp17e15r9jct5jsv</string>
	<key>API_KEY</key>
	<string>AIzaSyAgAnMtxb4d4ARBEMcJnW-x_IEKd_9_C2g</string>
	<key>GCM_SENDER_ID</key>
	<string>421929970358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginui</string>
	<key>PROJECT_ID</key>
	<string>my-noteapp-123</string>
	<key>STORAGE_BUCKET</key>
	<string>my-noteapp-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421929970358:ios:e198a315266afe25c75417</string>
</dict>
</plist>